* {
    font-family:monospace;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    text-align: center;
}

#topBanner {
    width: 100%;
    background-color: skyblue;
    font-size: 300%;
    color: white;
    padding-bottom: 20px;
}

#nameHeader {
    padding-bottom: 20px;
}

#navBar {
    font-size: 50%;
}


a {
    text-decoration: none;
    color: yellow;
}

#webPageLinks {
    list-style-type: none;
    display:inline-flex;
    justify-content: center;
}

#socialMediaLinks {
    list-style-type: none;
    display:inline-flex;
    justify-content: center;
}

ul li {
    padding:0% 2% 2% 2%;
}

#footer {
    text-align: center;
}